* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

}

.nest1 { /* 1 nest2 */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.nest2 { /* 3 nest3 */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nest3 { /* 4 5 */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
margin-bottom: -1px;

}

.box1 {
  width: 75vw;
  height: 25vh;

  background: #ffcd7a;
}

.box2 {

  width: 25vw;
  height: 75vh;
  background: #d7ff8c;

}

.box3 {
  width: 25vw;
  height: 50vh;
  background: #ff885f;

}

.box4 {
  width: 50vw;
  height: 20%;
  background: #c4ffee;
}

.box5 {
  width: 50vw;
  height: 80%;
  background: #e1a9ff;
}

.box6 {
  width: 100vw;
  height: 25vh;
  background: #b6b6ff;

}
